* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: radial-gradient(circle at top, #0f172a, #020617);
    color: white;
}


/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 60px;
    align-items: center;
}

.logo {
    color: #22c55e;
    font-weight: 700;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    color: #cbd5e1;
    text-decoration: none;
    font-weight: 500;
}

.btn {
    background: linear-gradient(135deg, #22c55e, #4ade80);
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    transform: scale(1.05);
}


/* HERO */

.hero {
    text-align: center;
    padding: 120px 20px;
    max-width: 800px;
    margin: auto;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #cbd5e1;
}

.hero-img {
    width: 320px;
    margin-top: 50px;
    border-radius: 18px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
}


/* FEATURES */

.features {
    text-align: center;
    padding: 120px 20px;
}

.feature-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.card {
    background: rgba(30, 41, 59, 0.6);
    backdrop-filter: blur(12px);
    padding: 40px;
    width: 280px;
    border-radius: 18px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, .4);
    transition: .3s;
}

.card:hover {
    transform: translateY(-10px);
}


/* CTA */

.cta {
    text-align: center;
    padding: 120px 20px;
    background: rgba(30, 41, 59, 0.5);
}

footer {
    text-align: center;
    padding: 50px;
    color: #94a3b8;
}


/* MOBILE */

.menu-toggle {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

@media(max-width:768px) {
    .menu-toggle {
        display: block;
    }
    .nav-links {
        position: absolute;
        top: 70px;
        right: 20px;
        flex-direction: column;
        background: #1e293b;
        padding: 20px;
        border-radius: 10px;
        display: none;
    }
    .nav-links.active {
        display: flex;
    }
    .hero h1 {
        font-size: 32px;
    }
    .hero-img {
        width: 90%;
    }
}